<div class="container">
  <div class="row">
    <div class="input-group mb-3" id="SearchField">
      <input
        #searchText
        type="text"
        class="form-control"
        placeholder="Search by Author or Book Details"
        aria-label="Search by Author or Book Info"
        aria-describedby="basic-addon2"
        (keyup.enter)="onClickMe(searchText.value)"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="onClickMe(searchText.value)"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <mat-spinner *ngIf="waitingForResponse" style="margin: auto;"></mat-spinner>
</div>

<div class="container" *ngIf="!waitingForResponse && bookList">
  <div class="row">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" (click)="prevPage()">
      <Prev
    </button>
    <button type="button" class="btn btn-link">
      <span id="page-position"
        >{{ startPos }} to {{ endPos }} of {{ totalBooks }}</span
      >
    </button>
    <button type="button" class="btn btn-secondary" (click)="nextPage()">
      Next>
    </button>
  </div>
</div></div>

<div
  *ngIf="!waitingForResponse && bookList"
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="space-evenly stretch"
>
  <ng-container *ngFor="let book of bookList.items">
    <div
    
      class="card"
      fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="0 1 calc(50% - 32px)"

    >
      <app-book-detail
        [title]="book.volumeInfo.title"
        [subtitle]="book.volumeInfo.subtitle"
        [publishedDate]="book.volumeInfo.publishedDate"
        [author]="book.volumeInfo.authors[0]"
        [description]="book.volumeInfo.description"
        [imageLink]="book.volumeInfo.imageLinks.smallThumbnail"
        [infoLink]="book.volumeInfo.previewLink"
        [publisher]="book.volumeInfo.publisher"
      ></app-book-detail>
    </div>
  </ng-container>
</div>
