<mat-toolbar color="accent"> <span>Seek4Books</span> </mat-toolbar>

<div class="container">
  <div class="row">
    <div class="input-group mb-3" id="SearchField">
      <input type="text" class="form-control" placeholder="Search by Author or Book Details" aria-label="Search by Author or Book Info" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
      </div>
    </div>
  </div>
</div>



<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="space-evenly stretch"
>
  <ng-container *ngFor="let _ of [1, 2, 3, 4, 5, 6]">
    <div
      class="card"
      fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
    >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="https://books.google.com/books/content?id=lRsoPOm98xgC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
