<div *ngIf=title  class="row no-gutters">
  
  <div class="col-md-4" style="background-color: azure;">
    <img class="bookThumb"
       src={{imageLink}}
      class="card-img"
      alt="..."
      style='height: 100%; width: 100%; object-fit: contain'
    />
  </div>
  <div class="col-md-8">
    <div class="card-body">
    <a href={{infoLink}} target="_blank"><h3 class="card-title" style="color:#3F51B5">{{title}}</h3></a>
      <h4 >{{author}}</h4>
      <p class="card-text">
        {{description | slice:0:250}} ...
      </p>
      <p class="card-text">
        <small class="text-muted">{{publishedDate  | slice:0:4}} {{publisher}}</small>
      </p>
    </div>
  </div>
</div>
