<div class="row no-gutters">
  <div class="col-md-4">
    <img
      src="https://books.google.com/books/content?id=lRsoPOm98xgC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
      class="card-img"
      alt="..."
    />
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h3 class="card-title">Card title</h3>
      <p class="card-text">
        This is a wider card with supporting text below as a natural
        lead-in to additional content. This content is a little bit
        longer.
      </p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
</div>
