<div class="row no-gutters">
  <div class="col-md-4" style="background-color: azure;">
    <img class="bookThumb"
      src={{imageLink}}
      class="card-img"
      alt="..."
      style='object-fit: contain'
    />
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h3 class="card-title" style="color:#3F51B5">{{title}}</h3>
      <h4 >{{author}}</h4>
      <p class="card-text">
        This is a wider card with supporting text below as a natural
        lead-in to additional content. This content is a little bit
        longer.
      </p>
      <p class="card-text">
        <small class="text-muted">{{publishedDate}}</small>
      </p>
    </div>
  </div>
</div>
